<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Login</title>
</head>

<body>

<header>
    <a href=“index.html”><img src="../public/img/site-logo.png"></a>
    <a href="index.html" >Home</a>
    <a href="users/login.html">Login</a>
    <a href="users/register.html">Register</a>
    <a href="posts/index.html" >Posts</a>
    <a href="posts/create.html" >Create Post</a>
    <a href="users/index.html" >Users</a>
    <div id="logged-in-info"> <span>Hello, <b>(user)</b></span>
        <form method="post">
            <input type="submit" value="Logout"/>
        </form>
    </div>
    <ul id="messages" th:with="notifyMessages=${session[T(blog.services
          .NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY]}">
        <li th:each="msg : ${notifyMessages}" th:text="${msg.text}"
            th:class="${#strings.toLowerCase(msg.type)}">
        </li>
        <span th:if="${notifyMessages}" th:remove="all" th:text="${session.remove(
          T(blog.services.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY)}"></span>

    </ul>
</header>
<h1>Login in the Blog</h1>

<form method="post" th:object="${loginForm}">
    <div><label for="username">Username:</label></div>
    <input id="username" type="text" name="username" th:value="*{username}" />
    <span class="formError" th:if="${#fields.hasErrors('username')}"
          th:errors="*{username}">Invalid username</span>

    <div><label for="password" th:value="*{username}">Password:</label></div>
    <input id="password" type="password" name="password" th:value="*{password}" />
    <span class="formError" th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}">Invalid password</span>

    <div><input type="submit" value="Login"/>
        <a href="register.html">[Go to Register]</a></div>
</form>

<footer>
    &copy; Spring MVC Blog System, 2016
</footer>

</body>

</html>